
# Build outputs
**/bin/
**/obj/

# Sensitive configuration files
**/appsettings.Development.json
**/appsettings.Production.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# Rider
.idea/
*.sln.iml

